#banner
  .banner_content
    %h1 FileCabinet
    %p Yours life's work. Organized, always.
    %button= link_to 'Enter', new_user_registration_path 

#callouts 
  .callout_inner 
    .wrapper 
      .callout
        %h2 Organize
        %p 
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue lectus at enim sodales dignissim. Vestibulum dictum laoreet quam, ac molestie neque tempus et. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed pulvinar neque metus, a ullamcorper dolor lacinia sed. Nam finibus porta elit, lobortis volutpat libero. Aenean eleifend vulputate ipsum hendrerit volutpat. Mauris maximus lorem tellus, nec sodales ex euismod sit amet.
          Suspendisse in condimentum diam, sed porta risus. Integer sollicitudin elementum egestas. Cras pulvinar enim a lacus lobortis, ac hendrerit velit ullamcorper. Nulla tellus magna, bibendum nec tristique ut, faucibus at justo. Vestibulum vitae ante et nunc convallis luctus. Sed cursus molestie dui. Duis pharetra ut turpis auctor egestas. Nunc vitae rutrum metus. Fusce ut tincidunt tortor. Curabitur vel laoreet ex, eget tempus orci. Curabitur vestibulum ex a purus pulvinar, vel bibendum nunc luctus.
          Proin in elementum felis, blandit lobortis ipsum. Curabitur ac euismod nisi, sit amet cursus nisi. Vivamus ac porttitor tellus, lobortis accumsan orci. Sed sit amet tellus fermentum, scelerisque est nec, porta sapien. Nulla vitae pellentesque est, mollis tristique tellus. Duis pellentesque, mi sed maximus faucibus, velit libero posuere ex, in aliquam erat tellus quis massa. Nullam faucibus placerat convallis. Sed auctor arcu quam, ut finibus arcu ultrices efficitur. Duis aliquet turpis ac odio tempus fringilla. Etiam faucibus leo ac suscipit imperdiet. Proin ac leo a justo volutpat maximus. Suspendisse odio dolor, semper ultricies imperdiet tincidunt, dignissim ut quam. Suspendisse mi dui, interdum quis dictum vitae, tempor quis enim.